{% extends 'base.html.twig' %}

{% block title %}U-Documentation{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/udocumentation_form.js') }}"></script>
{% endblock %}

{% block body %}
    {% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}

    <section id="newDocumentation" class="w-50 m-auto py-5">
        <h1 class="h3 mb-5 fw-normal">
            Saisissez les informations pour
            {{ currentPath == '/u-documentation/nouvelle-documentation' ? 'créer une nouvelle' : 'modifier la' }}
            documentation
        </h1>

        <div class="add-category mb-4">
            <div class="input-group">
                <span class="input-group-text" id="label-category">Catégories</span>
                <input type="text" class="form-control" placeholder="Nom de la catégorie" aria-label="Catégories" aria-describedby="label-category" name="category" id="category">
                <button class="btn btn-success button-category" type="button">Ajouter</button>
            </div>
        </div>

        {{ form_start(newDocumentationForm) }}
            {{ form_errors(newDocumentationForm) }}

            <div class="form-floating mb-4">
                {{ form_widget(newDocumentationForm.title, {'attr': {'placeholder': 'Titre', 'class': 'form-control', 'autofocus': 'autofocus'}}) }}
                {{ form_label(newDocumentationForm.title) }}
            </div>

            <div class="form-floating mb-4">
                {{ form_widget(newDocumentationForm.excerpt, {'attr': {'placeholder': 'Extrait', 'class': 'form-control'}}) }}
                {{ form_label(newDocumentationForm.excerpt) }}
            </div>

            <div class="mb-4">
                {{ form_label(newDocumentationForm.text, null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(newDocumentationForm.text, {'attr': {'placeholder': 'Contenu'}}) }}
            </div>

            <div class="form-floating mb-4">
                {{ form_widget(newDocumentationForm.publish, {'attr': {'placeholder': 'Publication', 'class': 'form-select', 'aria-label': "Sélectionner l'état de publication de la documentation"}}) }}
                {{ form_label(newDocumentationForm.publish) }}
            </div>

            <button class="w-100 btn btn-lg btn-primary" type="submit">Enregistrer</button>

            <a href="{{ path("app_udocumentation_user") }}" title="Annuler" class="btn btn-secondary mt-3 w-100">Annuler</a>

            {{ form_widget(newDocumentationForm.categories) }}
        {{ form_end(newDocumentationForm) }}
    </section>
{% endblock %}