{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block body %}
    <section class="form-register w-50 m-auto py-5">
        {{ form_start(registrationForm) }}
            <h1 class="h3 mb-5 fw-normal">Saisissez vos informations pour vous inscrire</h1>

            <div class="form-floating mb-4">
                {{ form_widget(registrationForm.firstName, {'attr': {'placeholder': 'Prénom', 'class': 'form-control', 'autofocus': 'autofocus'}}) }}
                {{ form_label(registrationForm.firstName) }}
            </div>

            <div class="form-floating mb-4">
                {{ form_widget(registrationForm.name, {'attr': {'placeholder': 'Nom', 'class': 'form-control'}}) }}
                {{ form_label(registrationForm.name) }}
            </div>

            <div class="form-floating mb-4">
                {{ form_widget(registrationForm.pseudo, {'attr': {'placeholder': 'Pseudo', 'class': 'form-control'}}) }}
                {{ form_label(registrationForm.pseudo) }}
            </div>

            <fieldset class="row mb-4">
                <legend class="col-form-label col-sm-2 pt-0">{{ form_label(registrationForm.gender) }}</legend>
                <div class="col-sm-10">
                    {% for radioGender in registrationForm.gender %}
                        <div class="form-check">
                            {{ form_row(radioGender, {'attr': {'class': 'form-check-input'}, 'label_attr': {'class': 'form-check-label'}}) }}
                        </div>
                    {% endfor %}
                </div>
            </fieldset>

            <div class="input-group mb-4">
                {{ form_label(registrationForm.birthDate) }}
                {{ form_widget(registrationForm.birthDate) }}
            </div>

            <div class="form-floating mb-4">
                {{ form_widget(registrationForm.email, {'attr': {'placeholder': 'Adresse e-mail', 'class': 'form-control'}}) }}
                {{ form_label(registrationForm.email) }}
            </div>

            {% for password in registrationForm.plainPassword %}
                <div class="form-floating mb-4">
                    {{ form_widget(password) }}
                    {{ form_label(password) }}
                </div>
            {% endfor %}

            <div class="input-group mb-4">
                {{ form_label(registrationForm.captcha) }}
                {{ form_widget(registrationForm.captcha, {'attr': {'placeholder': 'Réponse', 'class': 'form-control'}}) }}
            </div>

            <div class="form-check mb-4">
                {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'form-check-input'}}) }}
                {{ form_label(registrationForm.agreeTerms) }}
            </div>

            <button class="w-100 btn btn-lg btn-primary" type="submit">S'inscrire</button>
        {{ form_end(registrationForm) }}
    </section>
{% endblock %}
