{% extends 'base.html.twig' %}

{% block title %}U-Tâche{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/utache_form.js') }}"></script>
{% endblock %}

{% block body %}
    {% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}

    <section id="newTask" class="w-50 m-auto py-5">
        {{ form_start(newTaskForm) }}
            <h1 class="h3 mb-5 fw-normal">Saisissez les informations pour {{ currentPath == '/u-tache/nouvelle-tache' ? 'créer une nouvelle' : 'modifier la' }} tâche</h1>

            <div class="form-floating mb-4">
                {{ form_widget(newTaskForm.title, {'attr': {'placeholder': 'Titre', 'class': 'form-control', 'autofocus': 'autofocus'}}) }}
                {{ form_label(newTaskForm.title) }}
            </div>

            <div class="form-floating mb-4">
                {{ form_widget(newTaskForm.description, {'attr': {'placeholder': 'Description', 'class': 'form-control', 'style': 'height: 150px'}}) }}
                {{ form_label(newTaskForm.description) }}
            </div>

            <div class="form-floating mb-4">
                {{ form_widget(newTaskForm.status, {'attr': {'placeholder': 'Statut', 'class': 'form-select', 'aria-label': "Sélectionner le statut de la nouvelle tâche"}}) }}
                {{ form_label(newTaskForm.status) }}
            </div>

            <div class="input-group mb-5">
                {{ form_label(newTaskForm.state) }}
                {{ form_widget(newTaskForm.state, {'attr': {'placeholder': 'Pourcentage d\'avancement', 'class': 'form-range range-state'}}) }}
                <div class="form-text text-percent"><span>0</span>%</div>
            </div>

            <button class="w-100 btn btn-lg btn-primary" type="submit">Enregistrer</button>
        {{ form_end(newTaskForm) }}
    </section>
{% endblock %}