{% extends 'base.html.twig' %}

{% block title %}U-Tâche{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js" integrity="sha256-eTyxS0rkjpLEo16uXTS0uVCS4815lc40K2iVpWDvdSY=" crossorigin="anonymous"></script>
    <script src="{{ asset('js/utache.js') }}"></script>
{% endblock %}

{% block body %}
    <section id="taskBoard" class="px-4 py-5 h-100">
        <div class="row m-0 h-100 gap-3">

            {% for i in 0..3 %}
                <div class="col p-0 border border-warning">
                    <h2>{{ i }}</h2>
                    <div id="{{ i == 0 ? 'makeTask' : i == 1 ? 'waitTask' : i == 2 ? 'progressTask' : i == 3 ? 'endTask' : '' }}" class="w-100 h-100" data-nb="{{ i }}">
                        {% if tasks[i] is defined %}
                            {% for task in tasks[i] %}
                                <div class="dragTask w-100 border border-danger bg-light" style="cursor: grab;" data-id="{{ task.id }}" data-status="{{ task.status }}">
                                    <p>{{ task.title|capitalize }}</p>
                                    <p>{{ task.state }} %</p>
                                    <time datetime="{{ task.release|date("Y-m-d") }}">{{ task.release|date("d/m/Y") }}</time>
                                    {% if task.update %}
                                        <time datetime="{{ task.update|date("Y-m-d") }}">{{ task.update|date("d/m/Y") }}</time>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}

        </div>
    </section>
{% endblock %}