{% extends 'base.html.twig' %}

{% block title %}U-Couleur{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/@jaames/iro@5"></script>
    <script src="{{ asset('js/ucouleur.js') }}"></script>
{% endblock %}

{% block body %}

    <section class="px-4 py-5 section-grid-col-2 gx-4">
        <div class="section-col-1 select-color">
            <div class="picker-color mx-auto mb-5">
                <div id="picker" class="bg-dark bg-gradient shadow rounded-5 px-5 py-4 mb-5" data-color="{{ code ? code : null }}"></div>

                <div id="colorFond" class="border border-5 border-white rounded-4 overflow-hidden shadow"
                     style="background-image: url('{{ asset('img/fond_alpha.png') }}');">
                    <div id="color"></div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="input-group">
                        <span class="input-group-text" id="color-hexa">HEXA</span>
                        <input type="text" id="codeHexColor" name="codeHexColor" value="#ffffffff" placeholder="HEXA"
                               aria-label="HEXA" aria-describedby="color-hexa" class="form-control">
                    </div>
                </div>

                <div class="col">
                    <div class="input-group">
                        <span class="input-group-text" id="color-rgba">RGBA</span>
                        <input type="text" id="codeRgbColor" name="codeRgbColor" value="rgba(255, 255, 255, 1)"
                               placeholder="RGBA"
                               aria-label="RGBA" aria-describedby="color-rgba" class="form-control">
                    </div>
                </div>

                <div class="col">
                    <div class="input-group">
                        <span class="input-group-text" id="color-hsla">HSLA</span>
                        <input type="text" id="codeHslColor" name="codeHslColor" value="hsla(0, 0%, 100%, 1)"
                               placeholder="HSLA"
                               aria-label="HSLA" aria-describedby="color-hsla" class="form-control">
                    </div>
                </div>
            </div>
        </div>

        <div class="section-col-2 manage-color">
            {% if app.user %}
                <div class="bg-dark bg-gradient shadow rounded-2 px-4 pt-2 pb-4 mb-5">
                    <p class="fs-5 text-white">Mes couleurs enregistrées</p>

                    <div class="d-flex flex-row justify-content-start flex-wrap gap-3">
                        {% for key, value in couleurs %}
                            <div class="color-fond-user border border-5 border-white rounded-3 overflow-hidden"
                                 color="{{ value.colorCode }}"
                                 style="background-image: url('{{ asset('img/fond_alpha.png') }}');">
                                <div class="colors-user"
                                     style="background-color: {{ value.colorCode }};"></div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="input-group">
                    <input type="text" id="texteKeywords" class="form-control" placeholder="Mots-clés"
                           aria-label="Mots clés" aria-describedby="addColor">
                    <button class="btn btn-primary" type="button" id="addColor">Enregistrer la couleur
                    </button>
                </div>
                <div class="form-text mb-5">Entrez les mots-clés décrivant la couleur (séparer les mots par des
                    virgules)
                </div>
            {% endif %}

            <div class="mb-5">
                <p class="fs-5 mb-3">Les couleurs par défauts</p>

                <div class="btn-group" role="group" aria-label="Couleurs par défauts">
                    <button type="button" class="color-presave btn text-white" style="background-color: #000000;" id="colorPresaveNoir">Noir</button>
                    <button type="button" class="color-presave btn" style="background-color: #ffffff;" id="colorPresaveBlanc">Blanc</button>
                    <button type="button" class="color-presave btn text-white" style="background-color: #ff0000;" id="colorPresaveRouge">Rouge</button>
                    <button type="button" class="color-presave btn text-white" style="background-color: #0000ff;" id="colorPresaveBleu">Bleu</button>
                    <button type="button" class="color-presave btn" style="background-color: #00ff00;" id="colorPresaveVert">Vert</button>
                </div>
            </div>

            <button id="randomColor" class="btn btn-primary w-100">Générer aléatoirement une couleur</button>
        </div>
    </section>
{% endblock %}