{% extends "base.html.twig" %}

{% block statusbar %}
    {% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}

    <header class="statusbar position-relative">
        <div class="fixed-statusbar d-flex flex-column justify-content-center position-fixed top-0 end-0 text-bg-secondary">
            <nav class="nav" aria-label="Secondary navigation">
                <h1 class="nav-link m-0 lh-base fw-semibold text-dark text-decoration-none">{{ titrePage }}</h1>
                <hr class="vr my-auto mx-1">
                {% if dataStatusbar.links %}
                    {% for link in dataStatusbar.links %}
                        <a class="nav-link text-dark text-decoration-none fw-normal {{ currentPath == link.url ? 'active' : '' }}"
                           {{ currentPath == link.url ? 'aria-current="page"' }}
                           href="{{ link.url }}" {{ link.target == true ? 'target="_blank"': "" }}
                        >
                            {{ link.title }}
                        </a>
                    {% endfor %}
                {% endif %}
            </nav>
        </div>
    </header>
{% endblock %}
