<!DOCTYPE html>

<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}ULTRAGE{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/favicon.png') }}">

        <!-- Import styles -->
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    </head>
    <body>
        {% if app.user %}
            <nav>
                <p>Bonjour {{ app.user.pseudo }} - <a href="{{ path('app_logout') }}">Déconnexion</a></p>
            </nav>
        {% endif %}

        {% block body %}{% endblock %}

        <!-- Import scripts -->
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        <script src="{{ asset('js/app.js') }}"></script>
    </body>
</html>
