<!DOCTYPE html>

{% set titrePage = block("title") %}

<html lang="fr" class="h-100">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Tableau de bord{% endblock %} - ULTRAGE</title>
    <link rel="icon" href="{{ asset('img/favicon.png') }}">

    <!-- Balises meta -->
    <meta name="title" content="ULTRAGE">
    <meta property="og:title" content="ULTRAGE">
    <meta name="description"
          content="Ultrage est un outil polyvalent pour la création web pour l'amélioration de la productivité et de la créativité des professionnels et amateurs du web.">
    <meta name="og:description"
          content="Ultrage est un outil polyvalent pour la création web pour l'amélioration de la productivité et de la créativité des professionnels et amateurs du web.">
    <meta name="keywords"
          content="ultrage, utache, ucouleur, couleur, gestion, tache, tableau de bord, web, outils, créativité, productivité, création">
    <meta name="robots" content="index">
    <meta name="author" content="&copy; Corentin Diard">
    <meta property="og:image" content="{{ asset('img/favicon.png') }}">

    <!-- Import styles -->
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>

<body class="h-100">
<main class="d-flex flex-row">
    {{ block("sidebar", "_components/sidebar.html.twig") }}

    <div class="content text-bg-light">
        <div>
            {% if dataStatusbar is defined %}
                {{ block("statusbar", "_components/statusbar.html.twig") }}
            {% endif %}

            {% block body %}{% endblock %}
        </div>

        {{ block("footer", "_components/footer.html.twig") }}
    </div>
</main>

<!-- Import scripts -->
<script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
<script src="{{ asset('js/app.js') }}"></script>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-H47CYSTW3Z"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-H47CYSTW3Z');
</script>

</body>
</html>
